/* Importar la fuente Merriweather desde Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap');

//* Estilos para las noticias */
.News-widget {
  max-width: 900px;
  margin: 20px auto;
  padding: 20px;
  background-color: #f0f0f0;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  color: #333;
  font-family: 'Merriweather', serif;
}

/* Título de las noticias */
.title_noticia {
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
  text-align: center;
  background-color: #f0f0f0;
}

/* Contenedor de las noticias */
.News-container {
  display: flex; /* Mostrar los elementos en línea */
  flex-wrap: wrap; /* Permitir que se envuelvan si no caben todos en una línea */
  gap: 20px; /* Espacio entre los elementos */
  justify-content: space-around; /* Distribuir los elementos equitativamente con espacio alrededor */
}

/* Estilos para cada noticia */
.News-item {
  width: calc(50% - 20px); /* Ajustar el ancho para que haya cinco elementos en una fila */
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

/* Imagen de la noticia */
.News-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  display: block;
}

/* Contenido de la noticia */
.News-content {
  padding: 20px;
}

/* Título de la noticia */
.News-content h3 {
  font-size: 20px;
  color: #333;
  margin-bottom: 10px;
}

/* Descripción de la noticia */
.News-content p {
  font-size: 16px;
  color: #666;
  text-align: justify;
  line-height: 1.5;
}

/* Botón "Ver más" */
.Ver-mas-button {
  background-color: #007BFF;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.Ver-mas-button:hover {
  background-color: #0056b3;
}

.action-icon {
  cursor: pointer;
  font-size: 2.0em;
  margin-left: 20px;
}

.comentario-container {
  margin-top: 10px;
}

.comentario-container .form-control {
  width: 100%;
  margin-bottom: 10px;
}

.modal.show {
  display: block;
  background: rgba(0, 0, 0, 0.5);
}