/* Establece un fondo azul para toda la página */
body {
  background-color: rgb(52, 73, 94); /* Fondo azul */
  margin: 0; /* Asegura que no haya márgenes alrededor del body */
  padding: 0; /* Elimina el padding por defecto */
  height: 100%; /* Asegura que el body ocupe toda la altura de la página */
  display: flex;
  flex-direction: column; /* Disposición en columna */
  overflow-x: hidden;
}

/* Asegura que el contenedor principal ocupe toda la altura de la pantalla */
.container-fluid {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Full screen height */
  overflow: hidden; /* Evita el desbordamiento horizontal */
}

/* Estilo para el contenedor del mapa */
.map-container {
  flex: 1; /* El mapa ocupa el espacio restante */
  background-color: rgb(52, 73, 94); /* Fondo azul para el mapa */
  overflow: hidden;
}

/* Estilo para el contenedor de la información */
.info-container {
  background-color: white;
  padding: 15px;
  border-top: 1px solid #ccc; /* Línea de separación entre el mapa y el panel */
  max-height: 400px; /* Limita la altura máxima */
  overflow-y: auto; /* Permite el desplazamiento si el contenido excede el tamaño */
  z-index: 1; /* Asegura que la información esté encima */
}

/* Footer siempre en la parte inferior */
footer {
  margin-top: auto; /* Empuja el footer al final */
  position: relative;
  padding: 15px;
  background-color: #333; /* Fondo oscuro */
  color: white;
  text-align: center;
  width: 100%;
  z-index: 1;
}

/* Media query para pantallas más pequeñas */
@media (max-width: 1100px) {
  .container-fluid {
    flex-direction: column; /* Cambio a columna en pantallas pequeñas */
  }

  .map-container,
  .info-container {
    width: 100%;
  }

  .map-container {
    order: 1;
  }

  .info-container {
    order: 2;
  }
}
