/* Perfil.css */

/* visibilidad perfil */
.boton-editar-perfil {
    background-color: #4e2071; /* Fondo morado */
    color: #ffffff; /* Texto blanco */
    border: 2px solid #ffffff; /* Borde blanco */
    padding: 0.5rem 1rem; /* Padding */
    border-radius: 0.375rem; /* Border radius */
    cursor: pointer; /* Cursor pointer */
    transition: background-color 0.3s, color 0.3s; /* Transición suave */
    border-radius: 150px;
    transition: background-color 0.3s, color 0.3s, transform 0.3s; 
  }
  
  .boton-editar-perfil:hover {
    color: #000000; /* Texto negro en hover */
    /* border: 2px solid #000000; */
    background-color: #ffffff;
    font-size: medium;
    transform: scale(1.1); /* Agranda el botón */
  }

.bloque_perfil{
  border: 3px solid #000000;
  border-radius: 10px;
}
  
.foto_perfil{
  height: 50px;
}

.no-underline{
  /* background-color: #4a00a6; */
  /* hover:text-black */
}

.no-underline:hover{
  background-color: #4a00a6;
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.label-class {
  display: flex;
  align-items: center;
  font-size: 14px; /* Tamaño del texto, ajústalo según sea necesario */
  color: #4a5568; /* color: text-gray-700 */
}

.icon-class {
  margin-right: 8px; /* Ajusta el espacio entre el ícono y el texto */
  color: #6b7280; /* color: text-gray-500 */
}

.contenedor-form-editar-botones{
  /* padding: 1px; */
}

.boton-form-editar-perfil {
  background-color: #4e2071; /* Fondo morado */
  color: #ffffff; /* Texto blanco */
  border: 2px solid #ffffff; /* Borde blanco */
  padding: 0.5rem 1rem; /* Padding */
  border-radius: 0.375rem; /* Border radius */
  cursor: pointer; /* Cursor pointer */
  transition: background-color 0.3s, color 0.3s; /* Transición suave */
  border-radius: 150px;
  transition: background-color 0.3s, color 0.3s, transform 0.3s; 
}

.boton-form-editar-perfil:hover {
  color: #000000; /* Texto negro en hover */
  /* border: 2px solid #000000; */
  background-color: #ffffff;
  font-size: medium;
  transform: scale(1.1); /* Agranda el botón */
}