/* Asegúrate de que el contenedor principal ocupe toda la altura de la pantalla */
.perfil-container {
  min-height: 100vh; /* Asegura que el contenedor ocupe al menos el 100% de la altura de la pantalla */
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Asegura que el contenido se alinee arriba */
  padding: 0; /* Elimina el padding innecesario */
  margin: 0; /* Elimina el margin innecesario */
}

/* Asegura que el cuerpo o App tenga altura completa */
body, .App {
  margin: 0;
  padding: 0;
  height: 100%;
}

.perfil-container {
  margin: 0;
  padding: 0;
}

/* Estilos generales para la imagen circular */
.circular-image {
  height: 5.5rem; /* Ajuste a la medida de la imagen circular */
  width: 5.5rem; /* Mismo tamaño que la altura para mantener la forma circular */
  border-radius: 50%; /* Forma circular */
  margin-right: 10px;
}

.circular-image:hover {
  opacity: 0.4; /* Cambio de opacidad al pasar el mouse */
}

/* Añadir cuenta */
.spacer {
  margin-top: 45px; /* Espaciado ajustado */
}

.cuenta:hover {
  background-color: #0224e6;
  cursor: pointer;
  color: #fefefe;
}

/* Estilos para el botón de editar perfil */
.boton-editar-perfil {
  background-color: #4e2071; /* Fondo morado */
  color: #ffffff; /* Texto blanco */
  border: 2px solid #ffffff; /* Borde blanco */
  padding: 0.5rem 1rem; /* Padding */
  border-radius: 150px; /* Bordes redondeados */
  cursor: pointer; /* Cambia el cursor */
  transition: background-color 0.3s, color 0.3s, transform 0.3s;
}

.boton-editar-perfil:hover {
  color: #000000; /* Texto negro en hover */
  background-color: #ffffff;
  font-size: medium;
  transform: scale(1.1); /* Agranda el botón */
}

/* Estilos para el bloque de perfil */
.bloque_perfil {
  border: 3px solid #000000;
  border-radius: 10px;
}

/* Estilos para la foto de perfil */
.foto_perfil {
  height: 50px;
}

/* Estilos para el enlace sin subrayado */
.no-underline {
  text-decoration: none; /* Elimina el subrayado */
}

.no-underline:hover {
  background-color: #4a00a6;
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Contenedor de los botones en el formulario de editar perfil */
.contenedor-form-editar-botones {
  display: flex;
  justify-content: center; /* Centra los botones horizontalmente */
  gap: 1rem; /* Espacio entre botones */
  margin: 0px auto;
}

/* Botón para editar perfil */
.boton-form-editar-perfil {
  background-color: #202c71; /* Fondo morado */
  color: #ffffff; /* Texto blanco */
  border: 2px solid #ffffff; /* Borde blanco */
  padding: 0.7rem 1rem; /* Padding */
  border-radius: 150px; /* Bordes redondeados */
  cursor: pointer; /* Cursor pointer */
  transition: background-color 0.3s, color 0.3s, transform 0.3s;
}

.boton-form-editar-perfil:hover {
  color: #ffffff;
  background-color: #0fae4e; /* Fondo verde en hover */
  font-size: medium;
  transform: scale(1.1); /* Agranda el botón */
}

/* Estilos para los inputs del formulario de editar perfil */
.input-editar {
  border-radius: 50px;
}

.input-editar:hover {
  background-color: #c5c5c5;
  color: #000000;
}

/* Estilos para la foto de perfil en el formulario de editar */
.editar-perfil-foto:hover {
  opacity: 0.4;
  cursor: pointer;
}

/* Contenedor de iconos */
.contenedor_iconos {
  opacity: 0;
  cursor: pointer;
  gap: 8px;
}

.contenedor_iconos:hover {
  opacity: 1;
}

/* Estilos para los iconos de la cámara */
.icono_camara {
  margin: 3px;
}

/* Estilos para el modal de añadir foto */
.contenedor-modal-perfil {
  background-color: #b6bcdf; /* Color medio azul con gris */
  width: 100%; /* Asegura que el contenedor ocupe todo el ancho */
  height: 100%; /* Asegura que el contenedor ocupe toda la altura */
  margin: 0; /* Elimina márgenes */
  padding: 0; /* Elimina padding interno */
  box-sizing: border-box; /* Asegura que los bordes y padding no afecten las dimensiones */
  border-radius: 0; /* Elimina bordes redondeados, si los hay */
}


/* Contenedor para la imagen en el modal de añadir foto */
.contedor-añadir-img {
  margin: 25px;
  width: 150px; /* Tamaño del contenedor */
  height: 150px; /* Tamaño del contenedor */
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Estilos para la imagen dentro del contenedor */
.contedor-añadir-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%; /* Imagen circular */
}

/* Contenedor de los botones dentro del modal de añadir foto */
.contenedor-form-añadir-foto-botones {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

/* Botón dentro del modal de añadir foto */
.boton-form-añadir-foto {
  margin: 50px 0px 0px 0px;
  background-color: #ffffff; /* Fondo blanco */
  color: #000000; /* Texto negro */
  border: 2px solid #ffffff; /* Borde blanco */
  padding: 0.7rem 0.5rem; /* Padding */
  border-radius: 150px; /* Bordes redondeados */
  cursor: pointer; /* Cursor pointer */
  transition: background-color 0.3s, color 0.3s, transform 0.3s;
  border: 1px solid #000000; /* Borde negro */
}

.boton-form-añadir-foto:hover {
  color: #ffffff; /* Texto blanco en hover */
  background-color: #0fae4e; /* Fondo verde en hover */
  font-size: medium;
  transform: scale(1.1); /* Agranda el botón */
}

/* Ocultar elementos */
.hidden {
  display: none;
}

/* Ajuste para la imagen circular */
.w-24 {
  width: 6rem;
  height: 6rem;
  object-fit: cover;
  border-radius: 50%; /* Hace la imagen circular */
  margin-bottom: 1rem; /* Espaciado inferior */
}
