.panel {
  background-color: #f0f4f8;
  border-radius: 10px;
  padding: 20px;
  margin: 5px auto;
  max-width: 100%;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-left: 5px;
}

.content-container {
  display: flex;
  flex-wrap: nowrap;
  gap: 30px;
  justify-content: center;
  align-items: center;
}

.chart-container {
  flex: 1;
  min-width: 400px;
  max-width: 600px;
}

.table-container {
  width: 100%;
  margin-top: 20px;
}

.dropdown-container {
  display: flex;
  justify-content: flex-start; /* Opcional: Alinea los elementos a la izquierda */
  align-items: center; /* Alinea verticalmente los selectores */
  gap: 1rem; /* Espaciado entre los selectores */
  margin-bottom: 1rem;
}

.dropdown-container select {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 1rem;
  color: black;
}

.scrollable-table {
  max-height: 400px; /* Ajusta según el tamaño que desees */
  overflow-y: auto; /* Agrega scroll vertical */
  border: 1px solid #ccc; /* Opcional: un borde para delimitar el área */
}

.table-container {
  margin: 20px 0; /* Espaciado opcional */
}
