.weather-query-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* Centrar verticalmente */
  height: 100vh; /* Hacer que el contenedor ocupe toda la altura de la ventana */
  width: 100%; /* Cambiar a 100% para que ocupe todo el ancho disponible */
  background: linear-gradient(135deg, #4f6dff, #70a1ff, #9b59b6);
  padding: 20px; /* Ajustar el padding según sea necesario */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  /* Eliminar border-radius */
}

h1 {
  font-size: 2rem;
  margin-bottom: 25px;
  text-align: center;
  color: #d0d8ff;
}

input[type="text"] {
  width: 100%; /* Asegurar que el input ocupe todo el ancho */
  max-width: 400px; /* Máximo ancho para mantener el diseño */
  padding: 12px;
  border: 2px solid #5a67d8;
  border-radius: 8px;
  font-size: 1rem;
  margin-bottom: 20px;
  outline: none;
  color: #333;
  background-color: #f5f7ff;
  transition: border-color 0.3s ease;
}

input[type="text"]:focus {
  border-color: #4c51bf;
  box-shadow: 0 0 5px rgba(76, 81, 191, 0.5);
}

input[type="text"]::placeholder {
  color: #a0a8ff;
}

button {
  padding: 12px 24px;
  font-size: 1rem;
  color: #ffffff;
  background-color: #5a67d8;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

button:hover {
  background-color: #4c51bf;
  transform: scale(1.05);
}

button:active {
  transform: scale(1);
}

pre {
  background-color: #5a67d8;
  color: #ffffff;
  font-family: monospace;
  font-size: 1rem;
  padding: 20px;
  border-radius: 8px;
  white-space: pre-wrap;
  width: 100%;
  max-width: 400px; /* Máximo ancho para mantener el diseño */
  margin-top: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Estilos para dispositivos móviles */
@media (max-width: 600px) {
  h1 {
    font-size: 1.5rem; /* Ajustar el tamaño del título en móviles */
  }

  input[type="text"], button, pre {
    width: 90%; /* Ajustar el ancho de los elementos en móviles */
    max-width: none; /* Eliminar el máximo ancho en móviles */
  }
}
