* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: "Poppins", sans-serif;
  color: #0c0c0c;
  margin: 0px;
  padding: 0px;
}

body, html {
  margin: 0px;
  padding: 0px;
}

.logo {
  height: 100%;
  max-height: 60px; 
  object-fit: contain;
}

/*header section*/
.header_section {
  position: relative;
  margin-top: -20px;
}

.header_section, .hero_area {
  margin: 0px;
  padding: 0px;
}

.hero_area {
  height: 10vh;
  background: -webkit-gradient(linear, left top, right top, from(#864ddf), to(#203376));
  background: linear-gradient(to right, #864ddf, #203376);
  padding: 1px;
}


.hero_area::before {
  content: "";
  position: absolute;
  width: 65%;
  height: 100%;
  /* background-image: url(../images/hero-bg.png); */
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.sub_page .hero_area {
  height: auto;
}

.sub_page .hero_area::before {
  display: none;
}

.hero_area.sub_pages {
  height: auto;
}

.header_section {
  margin: 0px;
}

.header_section .container-fluid {
  padding-right: 0px;
  padding-left: 0px;
}

.header_section .nav_container {
  margin: 0 auto;
}

.custom_nav-container.navbar-expand-lg .navbar-nav .nav-link {
  padding: 10px 30px;
  color: #f9fcfb;
  text-align: center;
  text-transform: uppercase;
}

a,
a:hover,
a:focus {
  text-decoration: none;
}

a:hover,
a:focus {
  color: initial;
}

.btn,
.btn:focus {
  outline: none !important;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.navbar-brand,
.navbar-brand:hover {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 24px;
  color: #fafcfd;
}

.custom_nav-container .nav_search-btn {
  background-image: url(../images/search-icon.png);
  background-size: 22px;
  background-repeat: no-repeat;
  background-position-y: 7px;
  width: 35px;
  height: 35px;
  padding: 0;
  border: none;
}

.navbar-brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar-brand span {
  font-size: 20px;
  font-weight: 700;
  color: #f9fcfb;
  margin-top: 5px;
  text-transform: uppercase;
}

.custom_nav-container {
  position: relative; /* o absolute si es necesario */
  z-index: 9999;
  top: 0;
  left: 0;
}

.custom_nav-container .navbar-toggler {
  outline: none;
}

.custom_nav-container .navbar-toggler .navbar-toggler-icon {
  background-image: url(../images/menu.png);
  background-size: 40px;
}


/*end header section*/
/* slider section */
.slider_section {
  color: #f9fcfb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 0%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  /* border: #c53232 solid 5px; */
  padding-bottom: 110px;
  /* padding-right: 500px; */
}

.slider_section .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider_section #carouselExampleIndicators {
  position: unset;
}

.slider_section .carousel_btn-container {
  width: 110px;
  position: absolute;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  left: 2%;
  z-index: 999;
}

.slider_section .carousel_btn-container .carousel-control-prev,
.slider_section .carousel_btn-container .carousel-control-next {
  position: relative;
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 100%;
  opacity: 1;
  background-repeat: no-repeat;
  background-size: 14px;
  background-position: center;
  background-color: #383a90;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.slider_section .carousel_btn-container .carousel-control-prev:hover,
.slider_section .carousel_btn-container .carousel-control-next:hover {
  background-color: #feb543;
}

.slider_section .carousel_btn-container .carousel-control-prev {
  background-image: url(../images/prev.png);
}

.slider_section .carousel_btn-container .carousel-control-next {
  background-image: url(../images/next.png);
}

.slider_section ol.carousel-indicators {
  margin: 0;
  width: 75px;
  bottom: 10%;
  left: 47.5%;
}

.slider_section ol.carousel-indicators li {
  width: 55px;
  height: 55px;
  border-radius: 100%;
  text-indent: 0px;
  text-align: center;
  line-height: 55px;
  color: #f9fcfb;
  background-color: #547bfe;
  opacity: 1;
  display: none;
}

.slider_section ol.carousel-indicators li.active {
  display: block;
}

.slider_detail-box h1 {
  font-weight: bold;
  margin-bottom: 15px;
}

.slider_detail-box .btn-box a {
  display: inline-block;
  padding: 12px 40px;
  background-color: #feb543;
  color: #f9fcfb;
  border-radius: 25px;
  -webkit-box-shadow: 0px 2px 7px 0px rgba(32, 50, 117, 0.26);
  box-shadow: 0px 2px 7px 0px rgba(32, 50, 117, 0.26);
  -webkit-transition: all .3s;
  transition: all .3s;
  border: none;
  margin: 35px 0 50px 0;
}

.slider_detail-box .btn-box a:hover {
  -webkit-transform: translateY(-7px);
          transform: translateY(-7px);
}

.slider_img-box {
  position: relative;
  width: 100%;
  height: 80%; 
}

.slider_img-box img {
  position: relative;
  max-width: 100%;
  max-height: 80%;  
}

img{
  height: 250px;
  width: 100%;
}
